<!-- nav -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" style=" border-radius: 0px; ">
	
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
		aria-controls="navbar">
		<span class="sr-only">Express Administrator</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/index">
		<b>Express Administrator</b>
	</a>

	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
					<% if(user) { %>
						<%= user.displayName %>
					<% }else{ %>
						Login
					<% } %>
						<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<% if (!user) { %>
						<li>
							<a href="/login">Login</a>
						</li>
					<% } else { %>
						<% if(user.role=='admin') { %>
							<li>
								<a href="/admin">Admin</a>
							</li>
						<% } %>
					<li>
						<a href="/Profile">Profile</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
					<% } %>
				</ul>
			</li>
		</ul>
	</div>
	<!--/.nav-collapse -->
	
</nav>