<!DOCTYPE html>
<html>
	<head>
		<% include _head %>
	</head>
	<body>
		<% include _nav %>
		<div class="page-content container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-wrapper">
						<div class="box">
							<div class="content-wrap">
								<h6>
										Sign In auth-api Account</h6>
								<form action="/auth-api" method="post">
									<input type="text" name="username" class="form-control" placeholder="Enter username">
									<input type="password" name="password" class="form-control" placeholder="Enter password">
									<% if(message) {%>
									<p><%= message %> </p>
									<% } %>
									<div class="action">
										<input type="submit" class="btn btn-primary signup" value="Login" />
									</div>

								</form>

							</div>
						</div>
						<div class="already">
							<p>Or Sign in with local account ?</p>
							<a href="/login">Sign In</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include _footer %>
	</body>
</html>
