<!DOCTYPE html>
<html>
	<head>
		<% include _head %>
	</head>
	<body>
		<% include _nav %>
		<div class="page-content container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-wrapper">
						<div class="box">
							<div class="content-wrap">
								<h6>Your have the error:</h6>
									<div class="division">
										<hr class="left">
										<span>as</span>
										<hr class="right">
									</div>
								<form action="#" method="post">
									<% if(message) {%>
									<h4><%= message %> </h4>
									<% }else{ %>
										<h2><%= error.status %></h2>
										<pre><%= error.stack %></pre>
										<% } %>	
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include _footer %>
	</body>
</html>


