<!DOCTYPE html>
<html>
<head>
	<% include _head %>
</head>

	<body>
		<% include _nav %>
			<div class="page-content">
				<div class="row">
					<div class="col-md-2">
						<% include _menu %>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-6">
								<div class="content-box-large">
									<div class="panel-heading">
										<div class="panel-title">New vs Returning Visitors</div>

										<div class="panel-options">
											<a href="#" data-rel="collapse">
												<i class="glyphicon glyphicon-refresh"></i>
											</a>
											<a href="#" data-rel="reload">
												<i class="glyphicon glyphicon-cog"></i>
											</a>
										</div>
									</div>
									<div class="panel-body">
										<h1>Example for time line</h1>
										<h3>View Time Line</h3>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<div class="content-box-header">
											<div class="panel-title">New vs Returning Visitors</div>

											<div class="panel-options">
												<a href="#" data-rel="collapse">
													<i class="glyphicon glyphicon-refresh"></i>
												</a>
												<a href="#" data-rel="reload">
													<i class="glyphicon glyphicon-cog"></i>
												</a>
											</div>
										</div>
										<div class="content-box-large box-with-header">
											 Example text
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="content-box-header">
											<div class="panel-title">New vs Returning Visitors</div>

											<div class="panel-options">
												<a href="#" data-rel="collapse">
													<i class="glyphicon glyphicon-refresh"></i>
												</a>
												<a href="#" data-rel="reload">
													<i class="glyphicon glyphicon-cog"></i>
												</a>
											</div>
										</div>
										<div class="content-box-large box-with-header">

											 Example text
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include _footer %>
	</body>

</html>